<div class="dashboard-container">

  <header class="dashboard-header">
    <img src="/millDuellLogo.png" alt="MillDuell Logo" class="logo-image">
  </header>

  <main class="dashboard-content">

    <div class="dashboard-card">
      <h3>Aktuelle Partien</h3>
      <app-current-matches></app-current-matches>
    </div>

    <div class="dashboard-card relative-container">
      <h3>Neue Partie</h3>
      <p class="placeholder-text">Hier kommt später deine Komponente rein...</p>
    </div>

    <div class="dashboard-card">
      <h3>Mein Profil</h3>
      <p class="placeholder-text">Hier kommt später deine Komponente rein...</p>
    </div>

  </main>

  <footer class="dashboard-footer">
    <button class="info-button" (click)="openInfo()">Wie funktioniert MillDuell?</button>
  </footer>

</div>
